@page
@model ManU.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "Update ข่าวสารล่าสุด";
}

<h2>Update ข่าวสารล่าสุด</h2>

<div>
    <h4>กรอกข้อมูลดังต่อไปนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อย่อหมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
           รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
