@page
@model ManU.Pages.AlbumAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Album.AlbumID" />
            <div class="form-group">
                <label asp-for="Album.AlbumName" class="control-label"></label>
                <input asp-for="Album.AlbumName" class="form-control" />
                <span asp-validation-for="Album.AlbumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.ArtistName" class="control-label"></label>
                <input asp-for="Album.ArtistName" class="form-control" />
                <span asp-validation-for="Album.ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.ReleaseDate" class="control-label"></label>
                <input asp-for="Album.ReleaseDate" class="form-control" />
                <span asp-validation-for="Album.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Price" class="control-label"></label>
                <input asp-for="Album.Price" class="form-control" />
                <span asp-validation-for="Album.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.AlbumImage" class="control-label"></label>
                <input asp-for="Album.AlbumImage" class="form-control" />
                <span asp-validation-for="Album.AlbumImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.SampleAudio" class="control-label"></label>
                <input asp-for="Album.SampleAudio" class="form-control" />
                <span asp-validation-for="Album.SampleAudio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.stock" class="control-label"></label>
                <input asp-for="Album.stock" class="form-control" />
                <span asp-validation-for="Album.stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
