﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br>
<center><h1>CONTACT<h1></center>
<h2>ติดต่อพวกเรา</h2>
<h3>สโมสรฟุตบอลแมนเชสเตอร์ยูไนเต็ด (Manchester United football club)</h3>
<br>
<img src="~/images/phone1.png" width=30 height=30>
<h5>การขายและการสมัครสมาชิกอย่างเป็นทางการ</h5>
<h5>+44 161 868 8000</h5>
<h5>ร้านค้าออนไลน์โดยตรง</h5>
<h5>+44 333 014 4543</h5>
<h5>ข้อเสนอและสนับสนุน</h5>
<h5>+44 161 868 8000</h5>
<br>
<br>
<img src="~/images/email1.png" width=30 height=30>
<h5>การขายและการสมัครสมาชิกอย่างเป็นทางการ</h5>
<h5>membership@manutd.co.uk</h5>
<h5>ร้านค้าออนไลน์โดยตรง</h5>
<h5>customer.services@store.manutd.com, shop@store.manutd.com</h5>
<h5>ข้อเสนอและสนับสนุน</h5>
<h5>feedback@manutd.co.uk</h5>
