﻿@page

@{
    ViewData["Title"] = "HISTORY";
}
<br>
<center><h1>HISTORY</h1></center>
<h2>ประวัติโดยย่อ</h2>
<center><img src="~/images/logo1.png" width=250 height=250></center>
<br>
สโมสรฟุตบอลแมนเชสเตอร์ยูไนเต็ด (อังกฤษ: Manchester United Football Club) เป็นสโมสรฟุตบอลที่มีชื่อเสียงของอังกฤษ มีที่ตั้งอยู่ที่โอลด์แทรฟฟอร์ดในเมืองแมนเชสเตอร์ ปัจจุบันเล่นอยู่ในพรีเมียร์ลีก ลีกสูงสุดในระบบลีกฟุตบอลอังกฤษ สโมสรก่อตั้งในชื่อ สโมสรฟุตบอลนิวตันฮีตแอลวายอาร์ เมื่อปี ค.ศ. 1878 จากนั้นเปลี่ยนชื่อมาเป็น แมนเชสเตอร์ยูไนเต็ด เมื่อปี ค.ศ. 1902 และย้ายไปเล่นในสนามปัจจุบันคือโอลด์แทรฟฟอร์ด เมื่อปี ค.ศ. 1910
<br>
<br>
<h2>ถ้วยรางวัล</h2>
<br>
<img src="~/images/team3.jpg" width=350 height=200>  <img src="~/images/ufa1.jpg" width=400 height=200> <img src="~/images/team4.jpg" width=350 height=200>
<br>
<br>
แมนเชสเตอร์ยูไนเต็ดเป็นสโมสรที่ประสบความสำเร็จมากที่สุดในหลายสโมสรในอังกฤษ[2][3] โดยเป็นแชมป์ลีก 20 สมัย เอฟเอคัพ 12 สมัย ลีกคัพ 5 สมัย และ เอฟเอคอมมิวนิตีชีลด์ 21 สมัย อีกทั้งพวกเขายังได้ ยูฟ่าแชมเปียนส์ลีก 3 สมัย ยูฟ่ายูโรปาลีก 1 สมัย ยูฟ่าคัพวินเนอร์สคัพ 1 สมัย ยูฟ่าซูเปอร์คัพ 1 สมัย ฟุตบอลชิงแชมป์สโมสรยุโรปและอเมริกาใต้ 1 สมัย และฟุตบอลชิงแชมป์สโมสรโลก 1 สมัย ในฤดูกาล 1998–99 สโมสรกลายเป็นทีมแรกในประวัติศาสตร์ของฟุตบอลอังกฤษที่คว้าแชมป์เทรเบิล[4] โดยการคว้าแชมป์ยูฟ่ายูโรปาลีกในฤดูกาล 2016–17 พวกเขากลายเป็นหนึ่งในหน้าสโมสรที่คว้าแชมป์ทั้งสามรายการการแข่งขันของยูฟ่า