﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Manchester United";
}

<div class="row">
    <center><img src="~/images/team1.jpg" width=1145 height=500></center>
</div>
<br>
<div class="row"><h3> Update ข่าวสารล่าสุด </h3>
<table class="table">
<thead>
    <tr>
        <th>ชื่อย่อหมวดข่าว</th>
        <th>รายละเอียด</th>
    </tr>
</thead>
<tbody>


@foreach (var item in Model.NewsCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            
        </tr>
}
    </tbody>
</table>