﻿@page
@model ManU.Pages.ShopModel
@{
    ViewData["Title"] = "SHOP";
}
<br>
<center><h1>SHOP</h1></center>
<br>
<h2>ร้านค้าออนไลน์</h2>
<br>
<br>
<img src="~/images/shop1.jpg" width=250 height=250> 
<h4>Manchester United Home Shirt 2019-20</h4>
<h4>ราคา 1,664 บาท</h4>
<br>
<br>
<img src="~/images/shop2.jpg" width=250 height=250>
<h4>Manchester United Away Shirt 2019-20</h4>
<h4>ราคา 1,440 บาท</h4>
<br>
<br>
<img src="~/images/shop3.jpg" width=250 height=250>
<h4>Manchester United Cup Training Presentation Jacket-Grey</h4>
<h4>ราคา 2,336 บาท</h4>
<br>
<br>
<img src="~/images/shop5.jpg" width=250 height=250>
<h4>Manchester United New Era Cuff Treble Knit-Black-Adult</h4>
<h4>ราคา 832 บาท</h4>
<br>
<br>
<h2>โปรโมชันพิเศษ</h2>
<br>
<h3><p style="color:red">SALE!!</p></h3>
<img src="~/images/pro1.jpg" width=400 height=400>
<h4>Manchester United UEFA Champions League Flag</h4>
<h4>ราคา 800 บาท <p style="color:red">ลดเหลือ 345 บาท</p></h4>
<br>
<br>
<img src="~/images/pro2.jpg" width=400 height=400>
<h4>Manchester United Home Mini Kit 2019-20</h4>
<h4>ราคา 2170 บาท <p style="color:red">ลดเหลือ 1150 บาท</p></h4>

