﻿@page
@model VideoModel
@{
     ViewData["Title"] = "VIDEO";
}
<br>
<center><h1>VIDEO</h1></center>
<h2>วิดิโอทั่วไป</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WtjmGvzO2ik" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  <iframe width="560" height="315" src="https://www.youtube.com/embed/JdIVn5_oaO0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/uIQNxHhAQHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
<br>
<h2>วิดิโอไฮไลท์การแข่งขัน</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/XFiFYmPI_ao" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <iframe width="560" height="315" src="https://www.youtube.com/embed/bcOblorErr0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/WnDTY2-dE9s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>